.wk-button {
  padding: 7px 11px;
  margin: 16px;
  margin-left: 0px;
  background: #29abe2;
  color: #fff;
  border: none;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 1px;
  border: 1px solid #29abe2;
  outline: none;
}

.wk-button:focus {
  border: 1px solid #282c34;
}

.wk-button .wk-button__hint {
  opacity: 0.5;
  font-size: 14px;
  padding-left: 0.75em;
}

.wk-button--size--flex {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.wk-button--size--auto {
  flex-grow: 0;
  flex-shrink: 0;
}

.wk-button--type-small {
  padding: 7px 11px;
  font-size: 16px;
  margin: 0px;
  margin-right: 6px;
}

.wk-button--type-link {
  padding: 16px;
  margin: 0;
  color: #29abe2;
  background: none;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  outline: none;
  border: none;
}

.wk-button--type-link:focus {
  border: none;
  text-decoration: underline;
}

.wk-button--type-link:hover {
  text-decoration: underline;
}
