.wk-editor-bar {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  padding: 16px;
}

.wk-editor-bar--bottom {
  padding: 16px;
  border-top: 1px solid #eee;
  border-bottom: none;
}

.wk-editor-bar .wk-command-builder {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wk-editor-bar .wk-command-builder .wk-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wk-editor-bar .wk-command-builder .wk-controls .wk-dropdown,
.wk-editor-bar .wk-command-builder .wk-controls .wk-button  {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  margin-bottom: 6px;
}
