.wk-editor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wk-editor .wk-editor-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
}

.wk-editor .wk-editor-container .CodeMirror {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-family: 'Ubuntu Mono', monospace !important;
  font-size: 14px;
}

.cm-s-neo .CodeMirror-cursor {
  border-left: 1px solid #819090 !important;
  width: 0 !important;
}
