.wk-error-console {
  overflow: hidden;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eee;
  height: 48px;
  transition: height 200ms ease-in-out;
  will-change: height;
}

.wk-error-console--expanded {
  height: 300px;
}

.wk-error-console .wk-error-console__header {
  flex-grow: 0;
  flex-shrink: 0;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.wk-error-console .wk-error-console__header .wk-button:first-child {
  padding-left: 0;
}
.wk-error-console .wk-error-console__header .wk-button:last-child {
  padding-right: 0;
}

.wk-error-console .wk-error-console__header .wk-spacer {
  flex-grow: 1;
  flex-basis: 100%;
}

.wk-error-console .wk-error-console__messages {
  font-family: 'Ubuntu Mono', monospace !important;
  overflow: auto;
  flex-grow: 1;
}

.wk-error-console .wk-error-console__messages .wk-message {
  font-size: 14px;
  padding: 4px 16px;
  border-bottom: 1px solid #eee;
}

.wk-error-console .wk-error-console__messages .wk-hint {
  font-size: 14px;
  padding: 16px;
}

.wk-error-console .wk-error-console__messages .wk-message h3 {
  font-size: 14px;
}
