.wk-modal-content {
  position: fixed;
  width: 300px;
  height: 100%;
  z-index: 1100;
  margin: 0;
  background: #fff;
  opacity: 0;
  padding: 48px 24px;
  pointer-events: all;
  will-change: opacity, transform;
  display: flex;
  flex-direction: column;
}

.wk-modal-content__row {
  display: flex;
  margin-bottom: 12px;
}
