.wk-read-model-console {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #282c34;
  display: flex;
  flex-direction: column;
}

.wk-read-model-console .wk-read-model__bar {
  flex-grow: 0;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #444;
  align-items: center;
}

.wk-read-model-console .wk-read-model__items {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  background: #282c34;
  font-family: 'Ubuntu Mono', monospace !important;
  font-size: 14px;
  color: #eee;
}
