.wk-sidebar {
  width: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  background: #282c34;
  display: flex;
  flex-direction: column;
}

.wk-sidebar .wk-brand {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.wk-sidebar .wk-sidebar__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.wk-sidebar .wk-sidebar__item--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.wk-sidebar .wk-sidebar__item  .wk-icon {
  fill: #fff;
  width: 32px;
  height: 32px;
}
