.wk-text-box {
  padding: 9px 12px;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  border: 1px solid #c3c3c3;
}

.wk-text-box::placeholder {
  color: #2f333b;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}

.wk-text-box--type-port {
  width: 4em;
}

.wk-text-box:focus {
  border: 1px solid #282c34;
  outline: none;
}
