html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.ControlGroup {
  display: flex;
}

.TextBox {
  padding: 9px 12px;
  margin: 16px;
  margin-left: 0px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.TextBox--port {
  width: 4em;
}

.wk-label {
  margin-bottom: 12px;
}

.wk-dropdown {
  position: relative;
}

.wk-dropdown select {
  padding: 7px 39px 7px 13px;
  background: #282c34;
  border: 1px solid #282c34;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  flex-grow: 1;
  border-radius: 0;
  -webkit-appearance: none;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 1px;
  outline: none;
}

.wk-dropdown::after {
  display: block;
  content: '';
  position: absolute;
  background: url('theme/icon-expand.svg') no-repeat right center;
  width: 11px;
  height: 11px;
  right: 16px;
  top: 50%;
  margin-top: -5px;
  transform: rotate(90deg);
}

.wk-dropdown select:focus {
  background: #29abe2;
  outline: none;
  border: 1px solid #282c34;
}
